[Desktop Entry]
Version=1.0
Name=NifSkope
Comment=Edit nif files
Exec=nifskope %F
Icon=nifskope
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;Qt;
MimeType=application/vnd.gamebryo-nif;application/vnd.gamebryo-kf;application/vnd.gamebryo-kfm;
